*{
    font-family: sans-serif;
    color: white;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    background-color: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}
main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border-width: 0px;
    border-style: solid;
    flex-direction: row;
    padding: 0px 100px 0px 100px;
    width: 100%;
    gap: 300px;
}
main > div{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.h1LoginLeft{
    margin: 0;
}
.image{
    width: 35vw;
}
h1{
    color: #77ffc0;

}
form{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background: #2a233ab3;
    border-radius: 10px;
    padding: 30px;
    width: 50%;
    height: 100%;
    box-shadow: 0px 10px 40px #00000056;
}
.divH1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.divH1 > h1{
    text-transform: uppercase;
}
.labels{
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: start;
    font-size: 18px;
}
.inputs{
    margin-bottom: 15px;
    width: 100%;
    border-width: 0px;
    border-radius: 10px;
    border: none;
    padding: 15px;
    height: 50px;
    font-size: 16px;
    background: #413658b3;
    color: white;
    outline: none;
    box-sizing: border-box;
}
.inputs::placeholder{
    color: rgba(255, 255, 255, 0.696);
}
.submit{
    background-color: rgb(0, 255, 136);
    width: 100%;
    border-radius: 2px;
    border-width: 0px;
    font-size: 20px;
    margin-top: 5px;
    color: #2b134b;
    font-weight: 600;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    height: 50px;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}
.loginError{
    display: block !important;
    color: red;
    margin-top: 0px;
}
.submit:hover{
    cursor: pointer;

}
.signup{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-top: 5px;
}
.signupP{
    color: #77ffc0;
}
.signupLink{
    color: rgba(255, 255, 255, 0.742);
}